build --bes_results_url=https://app.buildbuddy.io/invocation/
build --keep_backend_build_event_connections_alive=false
build --experimental_remote_cache_compression
build --experimental_remote_merkle_tree_cache # recommended by https://github.com/bazelbuild/bazel/issues/10875
